/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #050A19;
  padding-bottom: 40px;
  color: white;/*#5a5a5a;*/
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.roadmap {
  padding-left: 200px;
}

.login-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
#login {
  color: black;
  margin:0;
  font-size: 40px;
}
.login-zone {
    width:40%;
    height: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    border-radius: 50px;

}
input {
  font-size: 25px;
  color: black;
}
#login-button {
  font-size:23px;
  color:green;
  background: grey;
  width:20%;
  align-self: center;
  border:none;
}

/* resize navbar when at most 991px on screen size*/
@media (max-width: 991px) {

    /* Carousel base class */
    .carousel {
      width: 100%;
      height: 200px;
      margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      z-index: 10;
    }

    .carousel-caption p{
      font-size: 7px !important;
    }
    /* Declare heights because of positioning of img element */
    .carousel .item {
      height: 200px;
      background-color: #777;
    }
    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 200px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  width: 100%
  height: 600px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
}

/* X-Small divices responsive
--------------------------------------------*/
@media (max-width: 600px){
  /*social icons*/
  .social-icons{
    color: #3b3b3b;
    text-align: center;
    font-size: 30px !important;
  }

  #our-goal {
  text-align:center;

  }
    /* Carousel base class */
  .carousel {
    width: 100%
    height: 200px;
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  .carousel-caption p{
    font-size: 7px !important;
  }
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 200px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 200px;
  }

  .list-heading{
    font-size: 15px !important;
  }

  .lead {
  font-size: 12px !important;
  letter-spacing: 1px;
  text-align: left !important;
  }

  .list-title {
    font-size: 22px;
  }

  /* Roadmap reindent on small screen*/
  .roadmap {
    padding-left: 35px !important;
  }

}

/* small divices responsive end!!
--------------------------------------------*/


/* Jeffrey Edit Zone
-----------------------------------*/

/* coin icon */
.coin-icon {
  width: 80% !important;
}

/* <p> style */
.lead {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
}


/*social icons*/
.social-icons{
  color: #3b3b3b;
  text-align: center;
  font-size: 50px;
}

/*Our Goal Image*/
.goalImg {
  width:50% !important;
}

/*roadmap*/
.map {
  opacity: 0;
  filter: alpha(opacity = 0);
}

/*team detail*/
#panel1, #panel2, #panel3, #panel4, #panel5, #panel6,
#panel7, #panel8, #panel9,#panel10, #panel11, #panel12,
#panel13, #panel14, #panel15,#panel16, #panel17, #panel18,
#panel19, #panel20, #panel21,  #panel22, #panel23, #panel24,
#panel25, #panel26{
  padding: 5px;
  border: solid 2px;
  display: none;
}

.pointer {cursor: pointer;}

/* Token img*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tokentitle{
  text-align: center;
  font-size: 30px;
  color:yellowgreen;
}

/* team img*/
.thumbnail {
  background-color: #050A19;
  border: 0 none;
  box-shadow: none;
}


.thumbnail p{
  color:white;
  text-align: center;
  font-size: 100%;
}

.thumbnail p strong{
  font-size: 170%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media { /*I dont think this is needed don't do anything to what I can see i left it as disabled just delete that if you want it back*/
    @media (min-width: 768px) {

    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
  }
}

/*ZOOM MODAL (currently only for PPS sale diagram under COMPLETE PATH)
--------------------------------------------------------------------------->*/
.zoom-diagram {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.zoom-diagram:hover {opacity: 0.7;}

/* The Modal (background) */
.zoom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.zoom-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.zoom-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: relative;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}