.line {
        background-color: none;/* #1D1D1D; */
        min-height: 170vh;
        position: relative;
        margin: 0;
        font-family: 'Droid Sans', sans-serif;
      }
      .line:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        bottom: 10px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 4px;
        background-color: black; /* #fff;*/
      }
      .line .entries {
        width: calc(100% - 80px);
        max-width: 800px;
        margin: auto;
        position: relative;
        left: -5px;
      }
      .line .entries .entry {
        border: 2px solid grey;
        border-radius: 10px;
        width: calc(50% - 80px);
        float: left;
        padding: 20px;
        clear: both;
        text-align: right;
      }
      .line .entries .entry:not(:first-child) {
        margin-top: -20px;
      }
      .line .entries .entry .title {
        font-size: 32px;
        margin-bottom: 12px;
        position: relative;
        color: black;/*#fff;*/
      }
      .line .entries .entry .title:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 4px solid white;
        background-color: #3b3b3b;
        border-radius: 100%;
        top: 50%;
        right: -115px;
        z-index: 1000;
      }
      .line .entries .entry .title.big:before {
        width: 24px;
        height: 24px;      
        right: -119px;
      }
      .line .entries .entry .body {
        color: #aaa;
      }
      .line .entries .entry .body p {
        line-height: 1.4em;
      }
      .line .entries .entry:nth-child(2n) {
        text-align: left;
        float: right;
      }
      .line .entries .entry:nth-child(2n) .title:before {
        left: -105px;
      }
      .line .entries .entry:nth-child(2n) .title.big:before {
        left: -109px;
      }
